@tailwind base;
@tailwind components;
@tailwind utilities;

.prcolor {
  background-color: #333333;
}

/* Featurs  */
.imgBox {
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.imgBox img {
  width: 100%;
  height: 100%;
  scale: 1.6;
  object-fit: cover;
  transition: transform 0.5s;
}
.eventImg img {
  width: 400px;
  height: 400px;
  scale: 1.6;
  /* object-fit: cover; */
  transition: transform 0.5s;
}

.spnaBox:hover .imgBox img {
  transform: scale(1.1) translate(0.5rem, 0.5rem);
}

.CustomBg {
  background: linear-gradient(
    to top right,
    rgba(28, 96, 150, 1),
    rgba(0, 212, 255, 0)
  );
  position: absolute;
  inset: 0;
}

.CustomBg {
  background-image: linear-gradient(
    to top right,
    rgba(28, 96, 150, 1),
    rgba(0, 212, 255, 0)
  );
}

/* vidoe carousel  */
.z-10 {
  background-color: rgba(0, 0, 0, 0.673);
  height: 100%;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* selected map area  */

.mainContainerBox {
  background-image: url(/src/assets/image/mainMap.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  transition: background-image 0.5s ease;
  position: relative;
}

.westood {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.westood:hover .mainContainerBox {
  background-image: url(/src/assets/image/westood.jpg);
  z-index: 1;
}
.containerBOX {
  background-color: #333333ef;
  color: white;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.iconContainer {
  position: relative;
  border: 0.2px solid rgba(255, 255, 255, 0.193);
}

.iconMainBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0); /* Initial translate */
  width: 100%;
  overflow: hidden;
  padding: 0 10px;
  transition: transform 0.5s, background-color 0.5s, color 0.5s, height 0.5s,
    top 0.5s;
}

.iconContainer:hover .iconMainBox {
  background-color: #33333352;
  color: white;
  height: 100%;
  top: 0;
}

.iconContainer:hover .iconBox {
  background-color: rgba(209, 84, 84, 0.164);
}
.iconContainer:hover .iconHover {
  background-color: rgba(218, 101, 101, 0.993);
  border: 0.4px solid rgba(255, 255, 255, 0.511);
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.CityDetailsBg {
  background-color: rgba(0, 0, 0, 0.669);
}
.closeButtonBG {
  background-color: rgba(255, 255, 255, 0.59);
  color: #ffffff9d;
}

@media not all and (min-width: 768px) {
  .max-md-hidden {
    display: none;
  }
  .z-10 {
    width: 50px;
  }
  .iconMainBox {
    flex-direction: column;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
